.email-section{
    background-color: #000;
    padding-top: 80px;
    padding-bottom: 80px;

}

.email-section h2{
    color: #FFF;
    text-align: center;
    font-size: 36px;
}



.divider2{
    height: 1px;
    background: #383A42;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-section{
    gap: 100px;
}

.offer-section-box1{
    flex-direction: column;
    gap: 20px;
}

.offer-section-button{
    align-self: start;
}

.underline-text{
    text-decoration: underline;
    font-weight: 700;
}

@media (max-width: 990px) {
    .email-section h2{
        font-size: 18px;
    }

    .email-section{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .contact-section{
        gap: 50px;
    }

    .offer-section-button {
        align-self: center;
    }
}

.text-name{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    align-self: start;
}

.text-desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    align-self: start;
}

.text-email{
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: 12px;
    color: #8F94A1;
    text-decoration: underline;
    align-self: start;
}

.text-email2{
    color: #000 !important;
}

.text-tel2{
    color: #000 !important;
}

.text-tel{
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 40px;
    align-self: start;
    color: #8F94A1;
}

.person{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.image-wrapper{
    position: relative;
    width: 397px;
    height: 500px;
    max-width: 100%;
}

.image-wrapper img{
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.image-wrapper-formal{
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
}

.image-text{
    position: absolute;
    top: 0;
    left: 0;
    color: #FFF;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.95) 20%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0.2) 100%);

    z-index: 6;
    cursor: pointer;
    font-size: 14px;
    padding: 20px;
    display: flex;
    align-items: end;
}

.image-inner-wrapper{
    position: relative;
    z-index: 5;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.our-team-section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-wrapper{
    width: 397px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.empty-image{
    background: #E5E5E5;
}